<div class="row">
    <div class="col-6 mt-5" style="width: 50%;">
                <div class="d-grid gap-2 container mt-5" style="width: 30%;">
                    <button class="btn btn-success" type="button">PROFILE VIEW <i class="fa-solid fa-user"></i></button>
                    <button class="btn btn-success" type="button">BALANCE CHECK <i class="fa-solid fa-person-circle-check"></i> </button>
                    <button class="btn btn-success" type="button">MONEY TRANSFER <i class="fa-solid fa-arrow-right-arrow-left"></i> </button>
                    <button class="btn btn-success" type="button">ACC-STATEMENT <i class="fa-solid fa-file-invoice-dollar"></i></button>
         </div>
         <div class="d-grid gap-2 container mt-3" style="width: 30%;">
            <button class="btn btn-danger" type="button">DELETE ACCOUNT <i class="fa-solid fa-person-circle-minus"></i> </button>
            <!-- <button class="btn btn-primary" type="button"><i class="fa-solid fa-right-from-bracket"></i> LOGOUT</button> -->
         </div> 
         <div class="d-grid gap-2 container mt-2" style="width: 30%;">
            <!-- <button class="btn btn-danger" type="button"><i class="fa-solid fa-person-circle-minus"></i> DELETE ACCOUNT</button> -->
            <button class="btn btn-primary" type="button">LOGOUT <i class="fa-solid fa-right-from-bracket"></i> </button>
         </div> 
    
    

    </div>
    <div class="col-6 mt-3">
        <h3 class="mt-5" style="color: blue;">Enjoy the <span class="text-success">UNI-BANKING</span></h3>
        <h4 class="mt-2 text-black">trust is the only thing you have to sell!!</h4>
        <p class="mt-3 text-dark" style="color: blue;">Net Banking Meaning. Netbanking, also known as internet banking,<br>
            is a digital method to conduct banking transactions by the means of the internet. <br>
            It is an electronic system, which any individual with a bank account can activate <br> and use for their financial proceedings</p>
            <img src="https://i.postimg.cc/m2CP2VrJ/bank-removebg-preview.png" alt="" class="mt-1 ms-1 imag2" id="trans">
    </div>
</div>  