<div class="first container mt-0">
    <form class="bg-primary container mt-3 border border-success border-2 text-light formbor" >
        <div class="text-center p-2 mt-1">
            <h3 class="text-center text-white mt-3">REGISTER</h3>

        </div>

        <div class="text-center p-2 ">
            <img src="https://i.postimg.cc/bvdN7RSZ/register-new-removebg-preview.png" alt="" class="img1">
            jpg
        </div>
        <div class="p-2 mt-1">
            <input [(ngModel)]="accno" type="text" id="input1" name="inputvalue" class="form-control" placeholder="enter your name">
        </div>


        <div class="p-2 mt-1">
            <input [(ngModel)]="uname" type="text" id="input2" name="inputvalue2" class="form-control" placeholder="enter account no">
        </div>
        <div class="p-2 mt-1">

            <input [(ngModel)]="passw" type="password" id="input3" name="inputvalue3" class="form-control" placeholder=" enter password">
        </div>
        <div class="p-2 mt-1">

            <input [(ngModel)]="cpassw" type="password" id="input4" name="inputvalue4" class="form-control" placeholder="confirm your password">
        </div>

        <div class="p-2 mt-1 text-center">
            <!-- <button class="text-white bg-success  loginbut">REGISTER</button> -->
            <button type="submit" (click)="register()" class="btn btn-success">REGISTER</button>

        </div>

    </form>
</div>